.vscode/settings.json
Chapter02/1-jib-docker/.idea/vcs.xml
Chapter02/2-jenkins-docker/.gradle/7.3.3/gc.properties
Chapter02/2-jenkins-docker/.gradle/7.3.3/checksums/checksums.lock
Chapter02/2-jenkins-docker/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
Chapter02/2-jenkins-docker/.gradle/7.3.3/dependencies-accessors/gc.properties
Chapter02/2-jenkins-docker/.gradle/7.3.3/executionHistory/executionHistory.bin
Chapter02/2-jenkins-docker/.gradle/7.3.3/executionHistory/executionHistory.lock
Chapter02/2-jenkins-docker/.gradle/7.3.3/fileChanges/last-build.bin
Chapter02/2-jenkins-docker/.gradle/7.3.3/fileHashes/fileHashes.bin
Chapter02/2-jenkins-docker/.gradle/7.3.3/fileHashes/fileHashes.lock
Chapter02/2-jenkins-docker/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
Chapter02/2-jenkins-docker/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Chapter02/2-jenkins-docker/.gradle/buildOutputCleanup/cache.properties
Chapter02/2-jenkins-docker/.gradle/buildOutputCleanup/outputFiles.bin
Chapter02/2-jenkins-docker/.gradle/vcs-1/gc.properties
Chapter02/2-jenkins-docker/app/build/bootJarMainClassName
Chapter02/2-jenkins-docker/app/build/classes/java/main/com/test/StartApplication.class
Chapter02/2-jenkins-docker/app/build/libs/app-0.0.1-SNAPSHOT.jar
Chapter02/2-jenkins-docker/app/build/resources/main/application.properties
Chapter02/2-jenkins-docker/app/build/resources/main/static/css/main.css
Chapter02/2-jenkins-docker/app/build/resources/main/static/js/main.js
Chapter02/2-jenkins-docker/app/build/resources/main/templates/index.html
Chapter02/2-jenkins-docker/app/build/tmp/bootJar/MANIFEST.MF
Chapter02/2-jenkins-docker/app/build/tmp/compileJava/previous-compilation-data.bin
Chapter03/3-nexus-docker/.gradle/7.3.1/gc.properties
Chapter03/3-nexus-docker/.gradle/7.3.1/checksums/checksums.lock
Chapter03/3-nexus-docker/.gradle/7.3.1/checksums/md5-checksums.bin
Chapter03/3-nexus-docker/.gradle/7.3.1/checksums/sha1-checksums.bin
Chapter03/3-nexus-docker/.gradle/7.3.1/dependencies-accessors/dependencies-accessors.lock
Chapter03/3-nexus-docker/.gradle/7.3.1/dependencies-accessors/gc.properties
Chapter03/3-nexus-docker/.gradle/7.3.1/executionHistory/executionHistory.bin
Chapter03/3-nexus-docker/.gradle/7.3.1/executionHistory/executionHistory.lock
Chapter03/3-nexus-docker/.gradle/7.3.1/fileChanges/last-build.bin
Chapter03/3-nexus-docker/.gradle/7.3.1/fileHashes/fileHashes.bin
Chapter03/3-nexus-docker/.gradle/7.3.1/fileHashes/fileHashes.lock
Chapter03/3-nexus-docker/.gradle/7.3.1/fileHashes/resourceHashesCache.bin
Chapter03/3-nexus-docker/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Chapter03/3-nexus-docker/.gradle/buildOutputCleanup/cache.properties
Chapter03/3-nexus-docker/.gradle/buildOutputCleanup/outputFiles.bin
Chapter03/3-nexus-docker/.gradle/vcs-1/gc.properties
Chapter03/3-nexus-docker/build/bootJarMainClassName
Chapter03/3-nexus-docker/build/classes/java/main/com/test/StartApplication.class
Chapter03/3-nexus-docker/build/libs/test-docker-spring-boot-0.0.1-SNAPSHOT.jar
Chapter03/3-nexus-docker/build/resources/main/application.properties
Chapter03/3-nexus-docker/build/resources/main/static/css/main.css
Chapter03/3-nexus-docker/build/resources/main/static/js/main.js
Chapter03/3-nexus-docker/build/resources/main/templates/index.html
Chapter03/3-nexus-docker/build/tmp/bootJar/MANIFEST.MF
Chapter03/3-nexus-docker/build/tmp/compileJava/previous-compilation-data.bin
